/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.12,
* Autoprefixer: v10.4.4
* Browsers: last 4 version
*/

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* header */

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  padding: 20px;
}
.page-header__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 200px;
          flex: 0 1 200px;
}
.page-header__item:last-child {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: right;
}
.navigation-list {
  list-style-type: none;
}
.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}
nav.container a {
  text-decoration: none;
  font: 20px Oswald;
  margin: 0px 10px;
  padding: 5px 5px;
  position: relative;
  z-index: 0;
  cursor: pointer;
}

nav.borderYtoX a:before
{
    position: absolute;
    opacity: 0.5;
    height: 100%;
    width: 2px;
    content: '';
    background: #005A34;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

nav.borderYtoX a:after
{
    position: absolute;
    opacity: 0.5;
    height: 100%;
    width: 2px;
    content: '';
    background: #005A34;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

nav.borderYtoX a:before
{
    left: 0px;
    top: 0px;
}

nav.borderYtoX a:after
{
    right: 0px;
    bottom: 0px;
}

nav.borderYtoX a:hover:before, nav.borderYtoX a:hover:after
{
    opacity: 1;
    height: 2px;
    width: 100%;
}
/* footer */
.page-footer {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
/* main */
.profile {
  max-width: 700px;
  margin: 0 auto;
}
.profile__portrait {
  float: left;
  width: 250px;
  margin-right: 40px;
  border-radius: 50%;
}
/* grid */
.grid-section {
  text-align: center;
}
.grid {
  padding: 50px;
  margin-bottom: 10px;
  text-align: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}
.grid-item {
  background-color: #d3d3d3;
}
.grid__item:last-child {
  -ms-grid-column: 3;
  grid-column: 3 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
}
/* Colors,Text and Buttons */
main {
  margin: 50px;
}
.about {
  text-align: center;
}
@-webkit-keyframes color-change {
  0% {
    fill: #edc655;
  }
  50% {
    fill: #fcffad;
  }
  100% {
    fill: #f76414;
  }
}
@keyframes color-change {
  0% {
    fill: #edc655;
  }
  50% {
    fill: #fcffad;
  }
  100% {
    fill: #f76414;
  }
}
@-webkit-keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 50px);
            transform: translate(0, 50px);
  }
  to {
    -webkit-transform: translate(200px, 50px);
            transform: translate(200px, 50px);
  }
}
@keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 50px);
            transform: translate(0, 50px);
  }
  to {
    -webkit-transform: translate(200px, 50px);
            transform: translate(200px, 50px);
  }
}
@-webkit-keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(446px, 48px);
            transform: translate(446px, 48px);
  }
  to {
    -webkit-transform: translate(100px, 48px);
            transform: translate(100px, 48px);
  }
}
@keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(446px, 48px);
            transform: translate(446px, 48px);
  }
  to {
    -webkit-transform: translate(100px, 48px);
            transform: translate(100px, 48px);
  }
}
.berlin-illustration {
  margin: auto;
  max-width: 30%;
  max-height: 30%;
}
.sun {
  -webkit-animation: 10s color-change infinite alternate linear;
          animation: 10s color-change infinite alternate linear;
}
.cloud-back {
  -webkit-animation: 48s cloud-move-reverse infinite alternate linear;
          animation: 48s cloud-move-reverse infinite alternate linear;
}
.cloud-front {
  -webkit-animation: 54s cloud-move infinite alternate linear;
          animation: 54s cloud-move infinite alternate linear;
}
body {
  background-color: #F2ECFF;
  font-family: Oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
}
h1 {
  font-size: 30px;
  font-weight: 700;
}
h2 {
  font-size: 24px;
  font-weight: 700;
}
h3 {
  font-size: 18px;
  font-weight: 700;
}
header{
  background-color: #FEFEFE;
}
footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:100px;
   background-color: #FEFEFE;
}
a {
  color: #005A34;;
}
a:visited {
  color: ;
}
a:hover, a:focus {
  text-decoration: none;
}
a:active {
color: ;
}
button {
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: #005A34;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.2s opacity;
  -o-transition: 0.2s opacity;
  transition: 0.2s opacity;
}
a.button {
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: #005A34;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.2s opacity;
  -o-transition: 0.2s opacity;
  transition: 0.2s opacity;
}
button:hover, button:focus,
a.button:hover, a.button:focus {
  cursor:pointer;
  opacity: 0.8;
}
.contact-main {
  text-align: center;
}
input {
  width:150px;
  padding: 5px 7.5px;
  margin: 8px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
input:focus {
  background-color: #ADD8E6;
}
.message-input {
  width: 300px;
  height: 10%;
}
.message-input:focus {
  background-color: #ADD8E6;
}

@media all and (max-width: 500px) {
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
@media all and (min-width: 500px) and (max-width: 750px){
  .grid {
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr;
  }
}
@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
  }
  h2 {
    font-size: 20px;
  }
}
